#body {
	background-color: #F6F6F0;		
	margin: 0px;
	padding: 0px;
}

#pageContainer {
    margin-top : -16px;
	padding: 0px;
	width: 100%;
	height:100%;
}
#topmenu {
	margin: 0px;
	padding: 0px;
}

#topDiv {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 10%;
	background-color: #297acc;
	background-image: url('images/logo.jpg');
	float: left;	
}

.bottomPosMenu {
	
	margin: 0px;
	padding: 0px;
	border: 0;	
	text-align: right;
	vertical-align: bottom;
}

#leftDiv {	
	margin: 0px;
	padding: 0px;
	width: 15%;
	background: #297acc;
	float: left;
	height: 100%;	
}

.leftDivMenu {
	vertical-align: middle;
}

#contentDiv {
	
	margin: 0px;
	padding: 0px;
	width: 85%;
	height: 85%;
	background-color: F6F6F0;
	display: block;
	float: left;
}

#footerDiv {
	
	margin: 0px;
	padding: 0px;
	border: 0;
	float: left;
	width: 85%;	
	height: 5%; 
	background: #2F2827;
	text-align: right;
}

#logo {
	text-align:center;
}